<div class="container mt-4" style="background-color: #f0fff0;">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Employees</h2>
      <button *ngIf="authService.hasAuthority('CREATE')" class="btn btn-warning" (click)="createEmployee()">
          Nuevo Employee
      </button>
  </div>

  <div *ngIf="loading" class="text-center">
      <div class="spinner-border" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
  </div>
  <div *ngIf="!loading" class="table-responsive">
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Hire Date</th>
                  <th>Position</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let employee of listadoEmployees">
                <td>{{employee.id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.hire_date | date:'yyyy-MM-dd' }}</td>
                <td>{{employee.position}}</td>
                  <td>
                      <button *ngIf="authService.hasAuthority('UPDATE')" class="btn btn-primary btn-sm me-2"
                          (click)="editEmployee(employee)">
                          Editar
                      </button>
                      <button *ngIf="authService.hasAuthority('DELETE')" class="btn btn-danger btn-sm"
                          (click)="eliminarEmployee(employee.id)">
                          Eliminar
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<!-- Modal Template -->
<ng-template #logModal let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="logModalLabel">
          {{ isEditMode ? 'Editar Empleado' : 'Registrar nuevo Empleado' }}
      </h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close">
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="employeeForm">
          <div class="mb-3">
              <label for="first_name" class="form-label">Nombre</label>
              <input type="text" id="first_name" class="form-control" formControlName="first_name"
                  [ngClass]="{ 'is-invalid': employeeForm.get('first_name')?.invalid && employeeForm.get('first_name')?.touched }" />
              <div *ngIf="employeeForm.get('first_name')?.invalid && employeeForm.get('first_name')?.touched"
                  class="invalid-feedback">
                  El nombre es requerido y debe tener al menos 2 caracteres.
              </div>
          </div>

          <div class="mb-3">
              <label for="last_name" class="form-label">Apellido</label>
              <input type="text" id="last_name" class="form-control" formControlName="last_name"
                  [ngClass]="{ 'is-invalid': employeeForm.get('last_name')?.invalid && employeeForm.get('last_name')?.touched }" />
              <div *ngIf="employeeForm.get('last_name')?.invalid && employeeForm.get('last_name')?.touched"
                  class="invalid-feedback">
                  El apellido es requerido y debe tener al menos 2 caracteres.
              </div>
          </div>

          <div class="mb-3">
              <label for="hire_date" class="form-label">Fecha de Contratación</label>
              <input type="date" id="hire_date" class="form-control" formControlName="hire_date"
                  [ngClass]="{ 'is-invalid': employeeForm.get('hire_date')?.invalid && employeeForm.get('hire_date')?.touched }" />
              <div *ngIf="employeeForm.get('hire_date')?.invalid && employeeForm.get('hire_date')?.touched"
                  class="invalid-feedback">
                  La fecha de contratación es requerida.
              </div>
          </div>

          <div class="mb-3">
              <label for="position" class="form-label">Puesto</label>
              <input type="text" id="position" class="form-control" formControlName="position"
                  [ngClass]="{ 'is-invalid': employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched }" />
              <div *ngIf="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched"
                  class="invalid-feedback">
                  El puesto es requerido y debe tener al menos 3 caracteres.
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
          Cancelar
      </button>
      <button type="button" class="btn btn-primary" [disabled]="employeeForm.invalid"
          (click)="onSubmitEmployee(modal)">
          {{ isEditMode ? 'Actualizar Empleado' : 'Registrar Empleado' }}
      </button>
  </div>
</ng-template>